.video-item {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  margin: 10px;
  width: calc(33% - 20px);
  min-width: 300px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.video-item video {
  width: 100%;
  height: auto;
  max-height: 275px;
  margin-bottom: 10px;
}
.video-item h2 {
  margin: 10px 0;
  font-size: 1rem;
}


.video-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.video-item img {
  width: 100%;
  height: 100%;
  max-height: 275px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.gif-item {
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  display: block;
  width: 300px;
  height: 210px;
}

.gif-item img {
  width: 100%;
  height: 100%;
  max-height: 165px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px; 
}

.figcaption {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  font: rebeccapurple;
}